@model IEnumerable<Transport.Models.Tablas.Cliente>

@{
    ViewData["Title"] = "Indice";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masculino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inversion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Masculino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPedidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inversion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
